@keyframes animate {
  0% {
    background-color: #aaa;
  }
  100% {
    background-color: #ccc;
  }
}

.animate1 {
  animation: animate 1s infinite alternate;
}

.animate2 {
  animation: animate 1.5s infinite alternate;
}

.animate3 {
  animation: animate 2s infinite alternate;
}

.jumbotron img {
  width: 200px;
  height: 200px;
}

.name {
  width: 120px;
  height: 28px;
  margin-top: 10px;
  background-color: #aaa;
  border-radius: 5px;
}

.bio {
  width: 200px;
  height: 16px;
  margin-top: 10px;
  background-color: #aaa;
  border-radius: 3px;
}

/* Tablet or Desktop */

@media (min-width: 576px) {
  .jumbotron img {
    width: 300px;
    height: 300px;
  }

  .name {
    width: 120px;
    height: 32px;
    margin-top: 10px;
    background-color: #aaa;
    border-radius: 5px;
  }

  .bio {
    width: 300px;
    height: 16px;
    margin-top: 10px;
    background-color: #aaa;
    border-radius: 3px;
  }
}
